@font-face {
    font-family: 'emg_source_code';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('./SourceCodeVF-Upright.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'emg_source_code_italic';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('./SourceCodeVF-Italic.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'emg_emoji';
    font-weight: 400;
    font-style: normal;
    src: url('./noto-color-emoji_5.1.0_emoji-400-normal.woff2') format('woff2');
}
